<div class="container">
  <div class="row">
    <%- @photos.each do |photo| %>
      <div class="col s4">
        <%= image_tag(photo.file.url, height: '350') %>
      </div>
    <% end %>
  </div>
</div>
