<div class="carousel carousel-slider">
  <%- @photos.each do |photo| %>
  <%- # Use rails image tag helper here %>
  <a class="carousel-item">
    <%= image_tag photo.file.url%>
    <p><%= photo.title %></p>
  </a>
  <% end %>
</div>
<script>
  $(document).ready(function () {
    $(".carousel").carousel({fullWidth: true});
  });
</script>
